= form_tag submit_path, method: 'post' do
  %br
  .container
    .row
      .col.s12
        .input-field.col.s12.materialize-textarea
          = label_tag :contact_name, 'Name (required)'
          = text_field_tag :contact_name
      
      .col.s12
        .input-field.col.s12.materialize-textarea
          = label_tag :contact_phone, 'Phone (optional)'
          = text_field_tag :contact_phone
      
      .col.s12
        .input-field.col.s12.materialize-textarea
          = label_tag :contact_email, 'Email (required)'
          = text_field_tag :contact_email
           
        %p 
          Please Select Reason for Contact:
        %p
          %input#request.with-gap{:name => "group1", :type => "radio", value: 'request'}/
          %label{:for => "request"} Requesting Information
        %p
          %input#test4.with-gap{:name => "group1", :type => "radio", value: 'technical'}/
          %label{:for => "test4"} Technical Issue
        %p
          %input#test5.with-gap{:name => "group1", :type => "radio", value: 'other'}/
          %label{:for => "test5"} Other (please specify below)
           
          .input-area.col.s12
            = label_tag :contact_us, 'Send us a message'
            = text_area :contact_us, class: "materialize-textarea" 
        %br
          %submit_tag.button.btn.waves-effect.waves-light{:name => "action", :type => "submit"} Submit
