#goal-show-page{style: "background-image: url(#{@goal.picture.url(:large)});"}
  #goal-show-content
    .container
      .row
        .center-align
          %h5.col.s12
            = link_to "#{@goal.user.user_name}", user_path(@goal.user_id)
            wants to
          %h1.col.s12
            = @goal.title
          %p.col.l6.s12
            Price: $
            = @goal.price
          %p.col.l6.s12
            Difficulty:
            = @goal.difficulty
          %hr.col.s12
          %p.col.s12
            = @goal.description
          - if @goal.user_id == current_user.id
            %p
              = link_to "Edit Goal", edit_goal_path(@goal.id)
              |
              = link_to 'Delete Goal', goal_path, method: :delete
