%img{src: @goal.picture.url(:large), style: "width: 100%;"}
.container
  .row
    .center-align
      %h5.col.s12
        = link_to "#{@goal.user.user_name}", user_path(@goal.user_id)
        wants to
      %h1.col.s12
        = @goal.title
      %p.col.l6.s12
        Price: $
        = @goal.price
      %p.col.l6.s12
        Difficulty:
        = @goal.difficulty
      %hr.col.s12
      %p.col.s12
        = @goal.description
