.goal-card.card.col.m5.s12
  .card-image
    %img{src: goal.picture.url(:med), style: "width: 100%; height: 100%;"}
      .card-title.center-align.goal-content-box
        .goal-content
          %h3.goal-info-card.flow-text
            = link_to "#{goal.title}", goal_path(goal.id)
          %p.user-info-card.flow-text
            = link_to "a goal of #{user.user_name}", user_path(user.id)
          .chip.blue
            %span.white-text
              = link_to 'Like', vote_path(goal.id), method: :post
              = goal.get_upvotes.size
